<main class="la-header" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div class="fig-container">
        <figure class="m-0">
            <picture>
                <source media="(min-width:650px)" srcset="/assets/images/all.jpg">
                <source media="(min-width:465px)" srcset="/assets/images/all.jpg">
                <img src="/assets/images/all.jpg" alt="All">
            </picture>
            <figcaption ngClass.xs="fs-14" ngClass.gt-xs="fs-16" fxLayoutGap.gt-xs="5px" fxLayout="column">
                <div class="ellipsis-text">Color Boxes</div>
                <div fxLayoutGap="10px" class="fw-500">
                    <span class="primary-text">&#8377; 2000</span>
                    <span class="disable-text strike-center">3000</span>
                    <span class="discount-text">33% Off</span>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="fig-container">
        <figure class="m-0">
            <picture>
                <source media="(min-width:650px)" srcset="/assets/images/handicraft.jpg">
                <source media="(min-width:465px)" srcset="/assets/images/handicraft.jpg">
                <img src="/assets/images/handicraft.jpg" alt="Handicraft">
            </picture>
            <figcaption ngClass.xs="fs-14" ngClass.gt-xs="fs-16" fxLayoutGap.gt-xs="5px" fxLayout="column">
                <div class="ellipsis-text">Hand Weaving</div>
                <div fxLayoutGap="10px" class="fw-500">
                    <span class="primary-text">&#8377; 2000</span>
                    <span class="disable-text strike-center">3000</span>
                    <span class="discount-text">33% Off</span>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="fig-container">
        <figure class="m-0">
            <picture>
                <source media="(min-width:650px)" srcset="/assets/images/painting.jpg">
                <source media="(min-width:465px)" srcset="/assets/images/painting.jpg">
                <img src="/assets/images/painting.jpg" alt="Painting">
            </picture>
            <figcaption ngClass.xs="fs-14" ngClass.gt-xs="fs-16" fxLayoutGap.gt-xs="5px" fxLayout="column">
                <div class="ellipsis-text">Tigers Care</div>
                <div fxLayoutGap="10px" class="fw-500">
                    <span class="primary-text">&#8377; 2000</span>
                    <span class="disable-text strike-center">3000</span>
                    <span class="discount-text">33% Off</span>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="fig-container">
        <figure class="m-0">
            <picture>
                <source media="(min-width:650px)" srcset="/assets/images/sculpture.jpg">
                <source media="(min-width:465px)" srcset="/assets/images/sculpture.jpg">
                <img src="/assets/images/sculpture.jpg" alt="Sculpture">
            </picture>
            <figcaption ngClass.xs="fs-14" ngClass.gt-xs="fs-16" fxLayoutGap.gt-xs="5px" fxLayout="column">
                <div class="ellipsis-text">Lord Budha Meditation</div>
                <div fxLayoutGap="10px" class="fw-500">
                    <span class="primary-text">&#8377; 2000</span>
                    <span class="disable-text strike-center">3000</span>
                    <span class="discount-text">33% Off</span>
                </div>
            </figcaption>
        </figure>
    </div>
</main>
